
{% extends 'Base.html' %}  <!-- Esto se define al principio, si estás en Admin o Base lo defines en la vista -->
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


<div class="container-fluid bg-light py-5">
    <div class="card p-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="text-center">PROYECTOS</h2> 
            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#Nueva_empresas" onclick="generarCodigoUnico()">
                <span class="material-icons-outlined">add</span><!-- Agregar Proyecto-->
            </button>
        </div>
        
        <div class="row">
            <div class="table-responsive"> <!-- Clase que permite hacer la tabla responsiva -->
                <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead class="thead-dark">
                        <tr>
                            <th class="id-column">ID</th>
                            <th class="empresas-column">EMPRESA</th>
                            <th class="codigo-column">CODIGO PROYECTO</th>
                            <th>NOMBRE PROYECTO</th>
                            <th class="descripcion-column">DESCRIPCION</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proyecto in proyectos %}
                        <tr>
                            <td class="id-column">{{ proyecto.id }}</td>
                            <td>{{ proyecto.empresa }}</td>
                            <td class="codigo-column">{{ proyecto.codigo_proyecto }}</td> 
                            <td>{{ proyecto.nombre_proyecto }}</td> 
                            <td class="descripcion-column">{{ proyecto.descripcion_proyecto }}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-outline-warning editar-btn" data-bs-toggle="modal" data-bs-target="#Editar_empresas" onclick="getProyecto('{{ proyecto.codigo_proyecto }}')">
                                    <span class="desktop-text">Editar</span>
                                    <span class="material-icons-outlined mobile-icon">edit</span>
                                </button>
                                <button type="button" onclick="eliminarProyecto('{{ proyecto.codigo_proyecto }}')" class="btn btn-sm btn-outline-danger eliminar-btn">
                                    <span class="desktop-text">Eliminar</span>
                                    <span class="material-icons-outlined mobile-icon">delete</span>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal nuevo proyecto -->
<div class="modal fade" id="Nueva_empresas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registrar Proyecto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Formulario para agregar proyecto -->
          <form id="createProyectoForm">
            <div class="form-group">
                <select class="form-control" id="Empresa" name="Empresa" required>
                    <option value="" disabled selected>Selecciona la empresa</option>
                    {% for empresa in empresas %}
                    <option value="{{empresa.empresa}}">{{ empresa.empresa }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-user" id="codigo" name="codigo" placeholder="Código del proyecto" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-user" id="Nombre_proyecto" name="Nombre_proyecto" placeholder="Nombre del proyecto" required>
            </div>
            <div class="form-group">
                <textarea class="form-control form-control-user" id="descripcion" name="descripcion" placeholder="Descripción del proyecto" required rows="4"></textarea>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="generarCodigoUnico();nuevo()">Registrar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<!-- Modal editar proyecto -->
<div class="modal fade" id="Editar_empresas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Proyecto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Formulario para editar proyecto -->
          <form id="editProyectoForm">
            <div class="form-group">
                <select class="form-control" id="editEmpresa" name="editEmpresa" required>
                    <option value="" disabled selected>Selecciona la empresa</option>
                    {% for empresa in empresas %}
                    <option value="{{empresa.empresa}}">{{ empresa.empresa }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-user" id="editCodigo" name="editCodigo" placeholder="Código del proyecto" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-user" id="editNombreProyecto" name="editNombreProyecto" placeholder="Nombre del proyecto" required>
            </div>
            <div class="form-group">
                <textarea class="form-control form-control-user" id="editDescripcion" name="editDescripcion" placeholder="Descripción del proyecto" required rows="4"></textarea>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="editar();refrescarPagina()">Guardar cambios</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<style>
   /* Ajustes adicionales para pantallas pequeñas */
@media (max-width: 768px) {
    table {
        font-size: 0.9rem;
    }

    .btn {
        font-size: 0.8rem;
        padding: 5px 10px;
    }

    th, td {
        white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    }

    .d-flex h2 {
        font-size: 1.5rem;
    }

    /* Ocultar columnas innecesarias en pantallas pequeñas */
    .id-column,  /* Oculta la columna ID */
    .codigo-column, /* Oculta la columna Código del Proyecto */
    .empresas-column, /* Oculta la columna Código del Proyecto */
    .descripcion-column { /* Oculta la columna Descripción del Proyecto */
        display: none;
    }

    /* Ocultar el texto del botón y mostrar iconos en móvil */
    .desktop-text {
        display: none; /* Oculta el texto en dispositivos móviles */
    }

    .mobile-icon {
        display: inline; /* Muestra el icono en dispositivos móviles */
        font-size: 1.2rem;
    }
}

/* Ajustes para pantallas muy pequeñas (teléfonos móviles) */
@media (max-width: 576px) {
    h2 {
        font-size: 1.5rem;
    }

    .btn {
        font-size: 0.7rem;
        padding: 4px 8px;
    }
}

/* Ajustes para pantallas más grandes */
@media (min-width: 769px) {
    .mobile-icon {
        display: none; /* Oculta el icono en pantallas grandes */
    }

    .desktop-text {
        display: inline; /* Muestra el texto en pantallas grandes */
    }
}

</style>

<script>
    // Función para eliminar un proyecto
   function eliminarProyecto(codigoProyecto) {
       fetch(`/proyectos/${codigoProyecto}`, {
           method: 'DELETE', 
           headers: {
               'Content-Type': 'application/json'
           }
       })
       .then(response => {
           if (response.ok) {
               return response.json();
           } else {
               throw new Error('Error al eliminar el proyecto');
           }
       })
       .then(data => {
           Swal.fire('Eliminado', data.message, 'success');  // Muestra el mensaje de éxito
           window.location.reload(); // Recargar la página tras eliminar el proyecto
       })
       .catch(error => {
           console.error('Error:', error);
           Swal.fire('Error', 'Ocurrió un error al eliminar el proyecto', 'error');
       });
   }
   
   function generarCodigoUnico() {
    const now = new Date();
    const timestamp = now.getFullYear().toString() + 
                      (now.getMonth() + 1).toString().padStart(2, '0') + 
                      now.getDate().toString().padStart(2, '0') + 
                      now.getHours().toString().padStart(2, '0') + 
                      now.getMinutes().toString().padStart(2, '0') + 
                      now.getSeconds().toString().padStart(2, '0') + 
                      now.getMilliseconds().toString().padStart(3, '0');
    
    const randomPart = Math.random().toString(36).substring(2, 10);

    const uniqueCode = `${timestamp}-${randomPart}`;

    document.getElementById('codigo').value = uniqueCode;  // Asignar el código al input de 'codigo'
    return uniqueCode;
}

    function nuevo() {
        generarCodigoUnico();
        // Capturando los valores del formulario
        const empresa = document.getElementById('Empresa').value;
        const codigo_proyecto = document.getElementById('codigo').value;
        const nombre_proyecto = document.getElementById('Nombre_proyecto').value;
        const descripcion_proyecto = document.getElementById('descripcion').value;

        fetch('/json/proyectos', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                empresa: empresa,
                codigo_proyecto: codigo_proyecto,
                nombre_proyecto: nombre_proyecto,
                descripcion_proyecto: descripcion_proyecto
            })
        })
        .then(response => {
            if (!response.ok) {
                return response.text().then(text => { throw new Error(text) });  // Manejar respuestas no JSON
            }
            return response.json();
        })
        .then(data => {
            if (data.message === 'Proyecto creado exitosamente') {
                Swal.fire('Creado', 'Proyecto creado exitosamente', 'success');
                window.location.reload();  // Recargar la página para actualizar la tabla
            } else {
                Swal.fire('Error', 'Error al crear el proyecto: ' + data.message, 'error');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire('Error', 'Hubo un problema al crear el proyecto.', 'error');
        });
    }

    function editar() {
    // Capturando los valores del formulario de edición
    const empresa = document.getElementById('editEmpresa').value;
    const codigo_proyecto = document.getElementById('editCodigo').value;
    const nombre_proyecto = document.getElementById('editNombreProyecto').value;
    const descripcion_proyecto = document.getElementById('editDescripcion').value;

    fetch(`/proyectos/${codigo_proyecto}`, {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            empresa: empresa,
            nombre_proyecto: nombre_proyecto,
            descripcion_proyecto: descripcion_proyecto
        })
    })
    .then(response => {
        if (!response.ok) {
            return response.text().then(text => { throw new Error(text) });  // Manejar respuestas no JSON
        }
        return response.json();
    })
    .then(data => {
        if (data.message === 'Proyecto actualizado exitosamente') {
            Swal.fire('Actualizado', 'Proyecto actualizado exitosamente', 'success');
            window.location.reload();  // Recargar la página para actualizar la tabla
        } else {
            Swal.fire('Error', 'Error al actualizar el proyecto: ' + data.message, 'error');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        Swal.fire('Error', 'Hubo un problema al actualizar el proyecto.', 'error');
    });
}

    function getProyecto(codigoProyecto) {
        
        fetch(`/proyectos/${codigoProyecto}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            // Asegurarse que los IDs del HTML coincidan con los campos recibidos del servidor
            document.getElementById('editEmpresa').value = data.empresa;
            document.getElementById('editCodigo').value = data.codigo_proyecto;
            document.getElementById('editNombreProyecto').value = data.nombre_proyecto;
            document.getElementById('editDescripcion').value = data.descripcion_proyecto;
        })
        .catch(error => console.error('Error al obtener el proyecto:', error));
        
    }


    // Función de refresh
    function refrescarPagina() {
        location.reload();  // Recarga la página
    }
</script>

{% endblock %}



